<div class="review_item">
    <div class="media">
        <div class="d-flex">
            <img src="assets/plantes/img/product/review-1.png" alt="">
        </div>
        <div class="media-body">
            <h4>{{commentsInput.commentUserId.firstName}}</h4>
            <h5>{{ actualDate | date:'medium' }}</h5>
            <button *ngIf="userIsAuthenticated" class="reply_btn" (click)="toggleChild()">Répondre</button>
        </div>

    </div>

    <p>{{commentsInput.message}}</p>
    <app-reply [showMePartially]="showVar"></app-reply>
    <hr>

</div>