.navs{
    margin-top: 40px;
}
.profileSideBar{
    margin-top: 140px;

}

.profilButtons{
    background-color: green!important;
    border-color: green;
    margin: 5px;
    color:white;
}

.card-header h5{
font-size: 30px;
margin-left: 400px;
}

.file{
    width: 60px;
    height: 30px;
}

.navs{
    width: 980px;
}

.navButton{
    width: 490px;
}