<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <img src="assets/plantes/img/features/community.png" id="communityImg">
            <p class="communityTitle">Avoir une passion c'est bien ! <br>
                La partager avec les autres, c'est mieux !
            </p>

            <p class="communityDescription">Problèmes des plantes, astuces, fruit exotiques... 
                Ils sont noumbreux à en
                parler sur <br> la comuunauté Chlorofin ! Rejoignez-les ! 
            </p>
            <div class="col-md-12 form-group">
                <button type="submit" value="submit" class="primary-btn submit" (click)="toForum()">
                    <span style="margin-top: 50px;font-size: 13px!important;">Découvrir la communauté</span>
                </button>

            </div>
        </div>

    </div>


</section>