#communityImg{
    height: 230px!important;
    width: 470px;
}


.communityTitle{
    font-size: 25px;
    color:black;
    margin-left: 550px;
    margin-top: -220px;

}
.communityDescription{
    font-size: 15px;
    color:black;
    margin-left: 550px;
    margin-top: -130px;
    line-height: 35px;
}
.submit{
    border-radius: 0px;
    border: green;
    height: 40px;
    margin-top: -170px;
    margin-left: 550px;
    padding-bottom: 20px;

}
.submit a{
   
}




section{
    margin-right: 0px;
}