.profilImg{
    width:30px;
    height: 30px;
    margin-top: 3px;
}

.navBarItems{
    margin-top: 10px;
}

.logo{
    width:100px;
    height: 60px;
}
.basket{
    margin-top: 10px;
    text-align: center;
}

.basketNb{
    background-color: green;
    border-radius: 100px;
    width: 15px;
    height: 15px;
    color: white;
    margin-top: -30px;
    margin-left: 20px;
}