
<div class="review_item ">
    <div class="media questionItems">
        <div class="d-flex">
            <img src="assets/plantes/img/product/review-1.png" alt="" style="margin-left: 50px;">
        </div>
        <div class="media-body" >
            <h4 style="margin-top: 30px;">{{questionsInput.lastName}} {{questionsInput.firstName}}</h4>
            <h5>{{ questionsInput.date }}</h5>
        </div>

    </div>

    <p style="margin-left: 150px;font-weight: bold; font-size: 15px;margin-top: 25px;">{{questionsInput.question}}</p>
    <!-- <i class="fas fa-trash-alt fa-lg" style="color: green;margin-top: 20px;margin-left: 1250px;"></i> -->
    <hr style="width: 1250px; margin-left: 40px;" >

</div>