


  <section class="login_box_area section_gap" style="margin-left: 200px;">
    <div class="container" >
        <div class="row">
            <div class="col-lg-8">
                <div class="login_form_inner">
                    <h3 id="titleOne">Décrivez votre produit  </h3>
                    <div class="col-md-12">
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                              
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Adresse email</th>
                                <th>Numéro de téléphone</th>
                                <th>Adresse</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let x of users">
                               
                                <td>He</td>
                                <td>l</td>
                                <td></td>
                                <td>l</td>
                                <td>o</td>
                                <td>
                                  <button class="btn btn-success button" >Supprimer</button>
                                  <button class="btn btn-secondary button" >Modifer</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>



<form #addCategory="ngForm" (ngSubmit)='addCategoryToSelect()'>
  <input type="text" [(ngModel)]='category.categoryName' [ngModelOptions]="{standalone:true}">
  <button>Ajouter</button>
</form>



