<!-- start banner Area -->
<app-banner></app-banner>
<!-- End banner Area -->

<!-- start features Area -->
<app-features></app-features>
<!-- end features Area -->


<!-- start product Area -->
<!-- <app-products></app-products> -->
<!-- end product Area -->
<!-- Start category Area -->
<app-img-categories></app-img-categories>
<!-- End category Area -->

<!-- Start exclusive deal Area -->
<app-img-deals></app-img-deals>
<!-- End exclusive deal Area -->

<!-- Start brand Area -->
<app-brands></app-brands>
<!-- End brand Area -->

<!-- Start related-product Area -->
<app-deals-week></app-deals-week>
<!-- End related-product Area -->
