.adminDetails{
    width: 1020px; 
    height: 200px;
    margin-left: 10px;
    background-color: #F4F7F7;
}

.profilImg{
    width:130px;
    height: 130px;
    margin-top: 3px;
    margin-left: 20px;
}
.profilButtons{
    background-color: green!important;
    border-color: green;
    margin: 5px;
    color:white;
}