<section class="category-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-120" src="assets/plantes/img/category/img1.jpeg" alt="">
                            <a href="assets/plantes/img/category/img1.jpeg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Décorez votre bureau</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100 img5" src="assets/plantes/img/category/img5.jpg" alt="" >
                            <a href="assets/plantes/img/category/img5.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Cactus</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100 img2" src="assets/plantes/img/category/img2.jpg" alt="">
                            <a href="assets/plantes/img/category/img2.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Petite mais ravissante</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100 img2" src="assets/plantes/img/category/img6.jpg" alt="">
                            <a href="assets/plantes/img/category/img6.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Vivez les couleurs</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100 imgRight" src="assets/plantes/img/category/img4.jpg" alt="">
                    <a href="assets/plantes/img/category/img4.jpg" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Monstera</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

