.col{
	display: flex;
	justify-content: space-around; 
	margin: 30px;
}

.productDetailImg{
	// border-color: white;
	border-width: 0px;
	border-style: hidden;
	
	
}

.details{
	text-align: center;

}

.buttons{
	margin-left: 20px;
}

.products{
	width: 250px;
	height: 300px;
}

.icon{
	margin-left: 20px;
}

