<div class="single-product">
    <img class="img-fluid products" [src]="adsInput.image" alt=""
            (click)="goToProductDetails(adsInput._id)" style="cursor: pointer;">
            <br>
    <div class="product-details">
        <h5 class="details">{{adsInput.productName}}</h5>
        <div >
            <h6 class="details">{{adsInput.category }}</h6>

        </div>
        <div class="price details">
            <h6>{{adsInput.price}} DT</h6>
            <!-- <h6 class="l-through">$210.00</h6> -->
        </div>
        <div class="prd-bottom buttons" >
            <a href="" class="social-info icon">
                <span class="ti-bag "></span>
                <p class="hover-text ">add to bag</p>
            </a>
            <!-- <a href="" class="social-info icon">
                <span class="lnr lnr-heart" *ngFor="addedToWishlist" (click)="handleDeleteFromWishlist()"></span>
                <i class="fa fa-heart" aria-hidden="true" *ngIf="addedToWishlist" (click)="deleteFromWishlist(adsInput._id)"></i>

                <p class="hover-text ">Wishlist</p>
            </a> -->

         <button *ngIf="addedToWishlist">  <i   class="fas fa-heart"  (click)="deleteFromWishlist(adsInput._id)"></i> </button> 
         <button *ngIf="!addedToWishlist">  <i   class="far fa-heart"   (click)="addToWishlist(adsInput._id)"></i></button> 



            <!-- <div class="card_area d-flex align-items-center">
                <a class="icon_btn"><i class="lnr lnr lnr-heart" *ngIf="!addedToWishlist" (click)="addToWishlist()"></i></a>
            </div> -->

            <!-- <a href="" class="social-info">
                <span class="lnr lnr-sync"></span>
                <p class="hover-text">compare</p>
            </a> -->
            <!-- <a href="" class="social-info">
                <span class="lnr lnr-move"></span>
                <p class="hover-text">view more</p>
            </a> -->
        </div>
    </div>
</div>