<div class="single-product">
  <div> <img class="img-fluid products" [src]="adsInput.image" alt=""
            (click)="goToProductDetails(adsInput._id)" style="cursor: pointer">
            <a *ngIf="addedToWishlist">  <i   class="fas fa-heart wishlist fa-2x heart"  (click)="deleteFromWishlist(adsInput._id)" style="cursor: pointer;position:absolute"></i> </a> 
            <a *ngIf="!addedToWishlist">  <i   class="far fa-heart wishlist fa-2x heart"   (click)="addToWishlist(adsInput._id)" style="cursor: pointer;position:absolute"></i></a> 
        </div> 
            <br>
    <div class="product-details">
        <h5 class="details">{{adsInput.productName}}</h5>
        <div >
            <h6 class="details">{{adsInput.category }}</h6>

        </div>
        <div class="price details">
            <h6>{{adsInput.price}} DT</h6>
            <!-- <h6 class="l-through">$210.00</h6> -->
        </div>
        <div class="prd-bottom buttons" >
            <a href="" class="social-info icon">
                <span class="ti-bag "></span>
                <p class="hover-text ">add to bag</p>
            </a>        
        </div>
    </div>
</div>