<div class="single-product">
  <div> <img class="img-fluid products" [src]="adsInput.image" alt=""
            (click)="goToProductDetails(adsInput?._id)" style="cursor: pointer;background-color: grey;">

        </div> 
            <br>
    <div class="product-details">
        <h5 class="details productName">{{adsInput?.productName}}</h5>
        <div >
            <!-- <h6 class="details ">{{adsInput.category }}</h6> -->

        </div>
        <div class="price details price">
            <h6>{{adsInput?.price}} DT</h6>
        </div>
            
        <div class="prd-bottom">
            <a  class="social-info" style="position: absolute;margin-top: -10px;margin-left: 90px;">
                <span class="ti-bag"></span>   
            </a>
            
            <a  class="social-info" *ngIf="!addedToWishlist" style="position: absolute;margin-top: -30px;margin-left: 130px;">
                <span class="lnr lnr-heart" (click)="getAdsById(adsInput?._id)" style="background-color:grey!important;cursor: pointer;margin-top: 20px;"></span>
                <!-- <p class="hover-text" style="position: absolute;margin-top: -10px;margin-left: 40px;">Favoris</p> -->
            </a>          
            <a  class="social-info" *ngIf="addedToWishlist" style="position: absolute;margin-top: -10px;margin-left: 130px;">
                <span class="lnr lnr-heart" (click)="deleteFromWishlist(adsInput?._id)" style="background-color:green!important;cursor: pointer"></span>
            </a>
        </div>
    </div>
</div>