<article class="row blog_item">
    <div class="col-md-9">
        <div class="blog_post ">
            <img [src]="blogInput?.image" alt=""  class="blogItems blogImg" > 
            <div class="blog_details blogItems">
                <a href="single-blog.html">
                    <h2>{{blogInput?.title}}</h2>
                </a>
                <p style="width: 200%;">{{blogInput?.article}}</p>
                <!-- <a href="single-blog.html" class="white_bg_btn">View More</a> -->
            </div>
        </div>
    </div>
</article>