.bgImgRight {
	height: 900px;
	width: 700px;
	margin-left: 140px;
	margin-top: -250px;
	opacity:90%
	
}

.title{
font-family: fantasy;
font-size: 90px;
color:#0F1E0D;
margin-left: 50px!important;
margin-top: 150px;
}


// .form-floatingform-floating{
// 	width: 20px !important;
// 	border-radius: 50%!important;
// }

.submit{
    border-radius: 0px;
    border: green;
  
    margin-top: -170px;
    margin-left: 50px;

}

// style="width: 200px !important;border-radius: 5px!important; margin-left: 140px;margin-top: 40px;"