<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Le forum</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Accueil<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Se connecter/S'inscrire</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->



<section class="features-area section_gap rectangle">
    <div class="container">
        <div class="row features-inner">
            <img src="assets/plantes/img/forum/bg.jpg" id="communityImg" >
            <p class="communityTitle">Avoir une passion c'est bien ! <br>
                La partager avec les autres, c'est mieux !
            </p>

            <p class="communityDescription">Problèmes des plantes, astuces, fruit exotiques... 
                Ils sont noumbreux à en
                parler sur <br> la comuunauté Chlorofin ! Rejoignez-les ! 
            </p>
            <div class="col-md-12 form-group">
                <button type="submit" value="submit" class="primary-btn submit" (click)="toForum()">
                    <span style="margin-top: 50px;font-size: 13px!important;">Découvrir la communauté</span>
                </button>

            </div>
        </div>

    </div>
</section>



