<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Le forum</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Accueil<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Se connecter/S'inscrire</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->



<section class="features-area section_gap rectangle">
    <div class="container">
        <div class="row features-inner">
            <img src="assets/plantes/img/forum/bg.jpg" id="communityImg" >
            <p class="communityTitle">Vous vous posez une question <br> à propos le monde de jardinage ?
                
            </p>

            <p class="communityDescription">Retrouvez ici des centaines de questions :<br>
                Implantation, Hygiéne , Mode de vie, Famille, Santé… <br>
                La partager avec les autres, c'est mieux !
            </p>
            
        </div>

    </div>
</section>



